.title {
    font-size: 50px;
    text-align: center;
}
html {
    background-color: brown;
    display: inline;
    text-align: center;
    text-orientation: initial;
}
h1 {
    background-color: black;
    color: darkslategray ;
    font-size: 50px;
    width: 275px;
    text-orientation: centered;
}
h2  {
    background-color:black;
    color: darkslategray;
    font-size: 30px;
    width: 250px;
    height: 35px;
}
h3 {
    background-color: black;
    color: darkslategray;
    font-size: 18px;
    width: 250px;
    height: 180px;
}
p {
    font-size: 20px;
    color: darkslategray;
    background-color: black;
    text-align: center;
    image-orientation:from-image;
    width: 700px;
    height: 90px;
}
div {
    background-color: black;
    text-orientation: centered;
    image-orientation: flip;
    color: darkslategray;
    width: 250px;
    height: 90px; 
}
img src {
    align-content: right;
    size: 75%;
}